@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SearchModel;


   @if(Model.İsChecked==true){
<div class="container-fluid">

    <p class="form-control">Kişi adı:@Model.Name</p>
    <p class="form-control">Kişi soyadı:@Model.surname</p>
    <p class="form-control">Doğum tarihi:@Model.year</p>
    <p class="form-control text-success">Bu kişi Türkiye Cumhuriyeti vatandaşıdır</p>



</div>
}else
{
    <div class="container-fluid">

        <p class="form-control">Kişi adı:@Model.Name</p>
        <p class="form-control">Kişi soyadı:@Model.surname</p>
        <p class="form-control">Doğum tarihi:@Model.year</p>
        <p class="form-control text-danger">Bu kişi Türkiye Cumhuriyeti vatandaşı değildir</p>



    </div>
}